/**
 * {{description}}{{^description}}{{classname}}{{/description}}{{#isDeprecated}}
 * @deprecated{{/isDeprecated}}
 */{{#isDeprecated}}
@Deprecated{{/isDeprecated}}
{{#discriminator}}
@JsonSubTypes({
{{#mappedModels}}
        @JsonSubTypes.Type(value = {{modelName}}.class, name = "{{mappingName}}"),
{{/mappedModels}}
})
@JsonTypeInfo(
    use = JsonTypeInfo.Id.NAME,
    include = JsonTypeInfo.As.PROPERTY,
    property = "{{propertyName}}",
    defaultImpl = Unknown{{classname}}.class,
    visible = true
)
{{/discriminator}}
{{#vendorExtensions.x-javatypename}}
@JsonTypeName("{{{vendorExtensions.x-javatypename}}}")
{{/vendorExtensions.x-javatypename}}
{{#vendorExtensions.x-class-extra-annotation}}
{{{vendorExtensions.x-class-extra-annotation}}}
{{/vendorExtensions.x-class-extra-annotation}}
{{^discriminator}}
@JsonInclude(Include.NON_NULL)
@javax.annotation.Generated(value = "{{generatorClass}}")
public record {{classname}} (
  {{#allVars}}
    /**
    {{#description}}
     * {{.}}
    {{/description}}
    {{^description}}
     * Get {{name}}
    {{/description}}
    {{#minimum}}
     * minimum: {{.}}
    {{/minimum}}
    {{#maximum}}
     * maximum: {{.}}
    {{/maximum}}
     {{#deprecated}}
     * @deprecated
     {{/deprecated}}
    {{#externalDocs}}
     * {{description}}
     * @see <a href="{{url}}">{{summary}} Documentation</a>
    {{/externalDocs}}
     */
  {{#deprecated}}
    @Deprecated
  {{/deprecated}}

    @JsonProperty("{{baseName}}")
    {{{datatypeWithEnum}}} {{name}}{{^-last}},{{/-last}}
  {{/allVars}}
) {{#vendorExtensions.x-implements}}{{#-first}}implements {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{#-last}} {{/-last}}{{/vendorExtensions.x-implements}} {
{{/discriminator}}
{{#discriminator}}
public interface {{classname}} {
{{/discriminator}}
  {{#allVars}}
    {{#isEnum}}
    {{^isContainer}}
{{>modelInnerEnum}}
    {{/isContainer}}
    {{#isContainer}}
    {{#mostInnerItems}}
{{>modelInnerEnum}}
    {{/mostInnerItems}}
    {{/isContainer}}
    {{/isEnum}}

  {{/allVars}}
{{#vendorExtensions.x-body}}
{{{vendorExtensions.x-body}}}
{{/vendorExtensions.x-body}}
}
