# Definition of GitHub Actions.
# Designed to working both LINE's and forked repository.
#
# Note:
#  Memory:
#    VM Spec = 2core, 7G RAM. as of 2019-10. https://help.github.com/en/github/automating-your-workflow-with-github-actions/virtual-environments-for-github-actions
#    There are possiblity that speed up build by setting xmx manually. But using default now.
#  Gradle Deamon:
#    Disabled via appending ~/.gradle/gradle.properties
name: CI
on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  test:
    name: test (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: # We want to test on LTSs.
          - '17'
          - '21'
    steps:
      - name: actions/setup-java@v3 (JDK ${{ matrix.java }})
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          architecture: x64
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: |
          mkdir -p ~/.gradle
          echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
      - run: ./gradlew -v
      - run: cd generator && mvn package && cd ..
      - run: python3 generate-code.py
      - run: ./gradlew build

  pinact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@a6896d13d22e2bf108a78b0c52d3f867c1f41b34 # v0.2.1
        with:
          skip_push: "true"
