name: pom validation
on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  test:
    name: test (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        java: [ '17' ] # We want to test on LTSs.
    steps:
    - name: actions/setup-java@v3 (JDK ${{ matrix.java }})
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        architecture: x64
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true
    - run: |
        mkdir -p ~/.gradle
        echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
    - run: python3 tests/maven-pom-validation-test.py

