name: pom validation
on: [push, pull_request]
jobs:
  test:
    name: test (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java: [ '1.8', '11.x', '17' ] # LTS's.
    steps:
    - name: actions/setup-java@v1 (JDK ${{ matrix.java }})
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        architecture: x64
    - uses: actions/checkout@v1
    - run: |
        mkdir -p ~/.gradle
        echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
    - run: python3 tests/maven-pom-validation-test.py

